/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 40px 5px;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}
h1 {
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  font-weight: 500;
}

.bold {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 2rem;
  width: 90%;
}
.grey-text,
.dark-grey {
  color: hsl(217, 19%, 35%);
}
.kira h1 {
  color: hsl(217, 19%, 35%);
}
.jeanette h1 {
  color: hsl(217, 19%, 35%);
}

.kira p {
  color: hsl(217, 19%, 35%);
}
.jeanette p {
  color: hsl(217, 19%, 35%);
}

.credit {
  color: hsl(0, 0%, 100%);
  opacity: 50%;
  font-size: 1.1rem;
}

.quotes {
  color: hsl(0, 0%, 100%);
  line-height: 2;
  opacity: 70%;
}

/*BOX GRID */
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
  gap: 2rem;
  width: 90%;
  margin-right: 2rem;
}

.card-1 {
  grid-area: daniel;
  background-color: hsl(263, 55%, 52%);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-size: 23%;
}

.card-2 {
  grid-area: jonathan;
  background-color: hsl(217, 19%, 35%);
}

.card-3 {
  grid-area: jeanette;
  background-color: hsl(0, 0%, 100%);
}

.card-4 {
  grid-area: patrick;
  background-color: hsl(219, 29%, 14%);
}

.card-5 {
  grid-area: kira;
  background-color: hsl(0, 0%, 100%);
}

.card {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  padding: 2rem;
  padding-bottom: 0;
  transition: 1s ease-in-out;
}

.card:hover {
  transform: translateY(-5%);
}
img {
  border-radius: 3rem;
}
.photo {
  width: 45px;
}

.card-4 img {
  border: solid hsl(263, 55%, 52%);
}
.card-1 img {
  border: solid hsl(263, 85%, 64%);
}

.profile-info {
  width: 80%;
  margin-left: 6rem;
  transform: translateY(-150%);
  padding-left: 2rem;
  padding-bottom: 0%;
}
.profile {
  height: 20%;
  margin-top: 1rem;
}
.profile-5 {
  height: 9%;
  margin-top: 1rem;
}

.jeanette,
.kira,
.jonathan {
  margin-left: 6rem;
}

/* MEDIA QUERY */

@media screen and (min-width: 870px) and (max-width: 1090px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "daniel jeanette "
      "kira jonathan "
      "patrick patrick ";
    gap: 3rem;
  }
  .bold {
    font-size: 2.2rem;
  }

  .card-4 {
    width: 80%;
    height: 100%;
    margin-left: 10%;
  }
  .shift {
    padding-top: 4rem;
  }
  .profile {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 870px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card {
    max-width: 80%;
    height: 100%;
    margin: 2rem;
    padding: 2rem 2rem 4rem;
  }
  .bold {
    font-size: 2rem;
  }
  .shift {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 560px) {
  .card {
    max-width: 400px;
  }
}
@media screen and (max-width: 470px) {
  .card {
    max-width: 350px;
  }
}
@media screen and (max-width: 375px) {
  .card {
    max-width: 300px;
  }
  .card-1 {
    background-size: 30%;
  }
}
